{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Base CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    {% block css %} {% endblock css %}
    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <!-- Sidebar -->
    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <a class="image" href="/">
            <img src="{% static 'img/login/logo.png' %}" alt="" />
          </a>
          <div class="text logo-text">
            <span class="name">{{user.name}}</span>
            <span class="profession">{{user.employee.job}}</span>
          </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="bx bx-search icon"></i>
            <input type="text" placeholder="Search..." />
          </li>

          <!-- Usuario -->
          <ul class="menu-links">
            <li class="nav-link">
              <a href="/add_user">
                <i class="bx bx-user-plus icon"></i>
                <span class="text nav-text">Agregar Usuario</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="/list_user">
                <i class="bx bx-list-ul icon"></i>
                <span class="text nav-text">Lista de Usuarios</span>
              </a>
            </li>
          </ul>
          <!-- Cargo -->
          <ul class="menu-links">
            <li class="nav-link">
              <a href="/add_job">
                <i class="bx bx-first-aid icon"></i>
                <span class="text nav-text">Agregar Cargo</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="/list_job">
                <i class="bx bx-list-ul icon"></i>
                <span class="text nav-text">Lista de Cargos</span>
              </a>
            </li>
          </ul>
          <!-- Producto -->
          <ul class="menu-links">
            <li class="nav-link">
              <a href="/add_product">
                <i class="bx bx-layer-plus icon"></i>
                <span class="text nav-text">Agregar Producto</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="/list_product">
                <i class="bx bx-list-ul icon"></i>
                <span class="text nav-text">Lista de Productos</span>
              </a>
            </li>
          </ul>
          <!-- Bodega -->
          <ul class="menu-links">
            <li class="nav-link">
              <a href="/add_warehouse">
                <i class="bx bx-book-add icon"></i>
                <span class="text nav-text">Agregar Bodega</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="/list_warehouse">
                <i class="bx bx-list-ul icon"></i>
                <span class="text nav-text">Lista de Bodegas</span>
              </a>
            </li>
          </ul>
          <!-- Tipo -->
          <ul class="menu-links">
            <li class="nav-link">
              <a href="/add_type">
                <i class="bx bx-bookmark-alt-plus icon"></i>
                <span class="text nav-text">Agregar Tipo</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="/list_type">
                <i class="bx bx-list-ul icon"></i>
                <span class="text nav-text">Lista de Tipos</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="bottom-content">
          <li class="">
            <a href="/accounts/logout/">
              <i class="bx bx-log-out icon"></i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>
        </div>
      </div>
    </nav>
    <!-- End Sidebar -->

    <!-- Block Content-->
    <section class="home">{% block content %} {% endblock %}</section>
    <!-- End Block Content-->
    <script>
      const body = document.querySelector("body"),
        sidebar = body.querySelector("nav"),
        toggle = body.querySelector(".toggle"),
        searchBtn = body.querySelector(".search-box"),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text"),
        home = body.querySelector(".home");

      toggle.addEventListener("click", () => {
        sidebar.classList.toggle("close");
      });

      searchBtn.addEventListener("click", () => {
        sidebar.classList.remove("close");
      });
    </script>
  </body>
</html>
