{% extends 'usuario/base.html' %} 
{% load static %}
{% block css %} 
    <link href="{% static 'css/usuario/table.css' %}" rel="stylesheet" />
{% endblock css%}
{% block content %}
<table class="list_user"> {% comment %} table container {% endcomment %}
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Cargo</th>
            <th>Usuario</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for i in employee %}
        <tr>
            <td class="row_selection">{{ i.name }}</td>
            <td class="row_selection">{{ i.last_name }}</td>
            <td class="row_selection">{{ i.email }}</td>
            <td class="row_selection">{{ i.job }}</td>
            <td class="row_selection">{{ i.username }}</td>
            <td class="options">
                <form action="{% url 'edit_user' i.id %}" method="PUT">
                    {% csrf_token %}
                    <button class="button"><i class='bx bxs-message-square-edit'></i></button>
                </form>
                <form action="{% url 'delete_user' i.id %}" method="GET">
                    {% csrf_token %}
                    <button class="button"><i class='bx bxs-message-square-x'></i></button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
